* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    background-image: url("../images/spring.png");
}

.bar {
    /* Size and position */
    font-size: 20px; /* 1em */
    width: 10em;
    height: 1em;
    position: relative;
    margin: 100px auto;
    /* Styles */
    border-radius: .5em; /* Height/2 */
    background: white; /* Fallback */
    background: rgba(255,255,255,0.6);
    box-shadow: 0 0 0 .05em rgba(100,100,100,0.075), /* Subtle border */
    0 0 0 .25em rgba(0,0,0,0.1), /* Outter border */
    inset 0 .1em .05em rgba(0,0,0,0.1), /* Inset shadow */
    0 .05em rgba(255,255,255,0.7); /* Slight reflection */
}
    .bar:after {
        /* Content and position */
        position: absolute;
        left: 25%;
        top: 150%;
        /* Font styles */
        font-family: 'Carrois Gothic', sans-serif;
        font-size: 1em;
        color: #555;
        text-shadow: 0 .05em rgba(255,255,255,0.7);
    }

.sphere {
    /* Size */
    display: block;
    width: 1em;
    height: 100%;
    /* Styles */
    border-radius: 50%;
    background: linear-gradient(#eee, #ddd);
    box-shadow: inset 0 .15em .1em rgba(255,255,255,0.3), /* Top light */
    inset 0 -.1em .15em rgba(0,0,0,0.15), /* Bottom shadow */
    0 0 .25em rgba(0,0,0,0.3); /* Outter shadow */
    /* Animation */
    animation: move 1.75s ease-in-out infinite alternate;
}

@keyframes move {
    to {
        margin-left: 90%;
    }
}

.bg {
    background-image: url("../images/pipes.png");
}

.mt-10 {
    margin-top: 10px;
}
.ml-10 {
    margin-left: 10px;
}

.p-10 {
    padding: 10px;
}

.clear {
    padding:0;
    margin:0;
}

.ml--60 {
    margin-left: -60px;
}

.mt--10 {
    margin-top: -10px;
}

.mt-30 {
    margin-top: 30px;
}

.mini-menu {
    display: block;
    list-style: none;
    padding: 0px;
    margin: 0px;
    text-align: right;
}

.el-menu {
    display: inline-block;
    font-weight: 300;
    font-size: 9pt;
    color: black;
    cursor: pointer;
}

.el-menu:hover {
    color: white;
}

    .el-menu a:hover {
        background-color: #DFDFE1;
        color: white;
    }

    .el-menu a {
        color: black;
        background-color: #ECF0F3;
        text-decoration: none;
        padding: 3px 5px;
        margin: 0px;
    }

.field-validation-error {
    color: #b94a48;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

.validation-summary-errors {
    color: #b94a48;
}

.menu-button {
    background-color: black;
}

.admin {
    font-size: 9pt;
    padding: 0px;
    margin: 0px;
    color:red;
}

.user {
    font-size: 9pt;
    padding: 0px;
    margin: 0px;
    color: gray;
}

div .default-link {
    color: #007bff;
    font-size: 9pt;
    position: absolute;
    bottom: 10px;
    right: 130px;
    cursor:pointer;
}

div .default-link:hover {
    text-decoration: underline;
}

div .red-link {
    color: red;
    font-size: 9pt;
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}

div .red-link:hover {
    text-decoration: underline;
}